# 1. Web framework
flask
waitress

# 2. Parocīgi rīki
requests
uuid
python-dotenv

# 3. OCR / OMR
pytesseract
opencv-python
pdf2image

# 4. PDF apstrāde Python pusē
reportlab

# 5. Citas bibliotēkas
numpy        # Nepieciešams OpenCV
paramiko     # SSH pieslēgumiem
pytz         # Laika joslu atbalsts
openai       # GPT pieprasījumiem (ja vajag integrāciju ar OpenAI API)
